# Python
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/
.ruff_cache/

# Dados e Outputs (Importante!)
data/input/*
!data/input/.gitkeep
outputs*/
!outputs/.gitkeep

# MLflow Tracking
mlruns/
mlruns.db

# Logs
*.log

# Ferramentas, Agentes e IAs (Codex, Antigravity, VSCode)
.vscode/
! .vscode/settings.json
! .vscode/launch.json
.cursor/
.cursorrules
.gemini/